In [3]:
############################
# Import Required Libraries

import pandas as pd
import numpy as np

In [5]:
import time
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from pandas import DataFrame
from sklearn.preprocessing import StandardScaler

In [11]:
#########################
# Read the cleaned data
def productLabels(s):
    s = s.strip().lower()
    if s == "womenclothing":
        return 1
    if s == "menclothing":
        return 2
    if s == "otherclothing":
        return 3
    return 0
#traindf = pd.read_csv('Train_Kaggle.csv',parse_dates=[['Year','Month']],converters={"ProductCategory":productLabels})
traindf = pd.read_csv('Train_Kaggle.csv',converters={"ProductCategory":productLabels})
traindf['ProductCategory'].unique()
traindf = traindf.fillna(method='bfill')


testdf = pd.read_csv('Test_Kaggle.csv',converters={"ProductCategory":productLabels})
testdf['ProductCategory'].unique()
test_for_kaggle = testdf.iloc[:,:-1]

In [27]:
from sklearn.model_selection import train_test_split
X=traindf.iloc[:,:-1]
y=traindf.iloc[:,5:6]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [28]:
traindf.iloc[:,5:6]

     Sales(In ThousandDollars)
0                       1755.0
1                        524.0
2                        936.0
3                       1729.0
4                        496.0
5                        859.0
6                       2256.0
7                        542.0
8                        921.0
9                       2662.0
10                       669.0
11                       914.0
12                      2732.0
13                       650.0
14                       989.0
15                      2220.0
16                       607.0
17                       932.0
18                      2164.0
19                       575.0
20                       901.0
21                      2371.0
22                       551.0
23                       865.0
24                      2421.0
25                       579.0
26                       819.0
27                      2579.0
28                       610.0
29                       914.0
..                         ...
186                     4268.0
187                      702.0
188                     1293.0
189                     4223.0
190                      785.0
191                     1196.0
192                     4421.0
193                      801.0
194                     1257.0
195                     3905.0
196                      702.0
197                     3733.0
198                     3733.0
199                      655.0
200                     1175.0
201                     4067.0
202                      692.0
203                     1337.0
204                     4481.0
205                     1056.0
206                     1056.0
207                     4434.0
208                      757.0
209                     1153.0
210                     4525.0
211                      803.0
212                     1468.0
213                     5664.0
214                     1070.0
215                     1967.0

[216 rows x 1 columns]

In [29]:
y_train

     Sales(In ThousandDollars)
35                      1351.0
28                       610.0
42                      3102.0
209                     1153.0
101                     1020.0
147                     2872.0
51                      2756.0
206                     1056.0
180                     2961.0
76                       497.0
41                       869.0
132                      687.0
78                      3266.0
127                      613.0
26                       819.0
143                     1475.0
113                     3566.0
125                     1205.0
2                        936.0
77                       878.0
46                       630.0
175                      798.0
115                      623.0
90                      2896.0
85                       677.0
144                     2320.0
36                      2142.0
122                     1155.0
61                       563.0
22                       551.0
..                         ...
21                      2371.0
57                      2807.0
160                      678.0
208                      757.0
187                      702.0
129                     3059.0
37                       476.0
157                      749.0
203                     1337.0
1                        524.0
52                       598.0
149                     1144.0
130                     1124.0
151                      682.0
103                      707.0
99                       682.0
116                     1229.0
87                      3232.0
202                      692.0
74                       968.0
121                      725.0
215                     1967.0
20                       901.0
188                     1293.0
71                      1398.0
106                     1081.0
14                       989.0
92                       985.0
179                     1566.0
102                     3499.0

[144 rows x 1 columns]

In [30]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

# Create linear regression object
regr = linear_model.LinearRegression()
# Train the model using the training sets
regr.fit(X_train, y_train)
# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

y_pred

Coefficients:
 [[ 146.31377952   34.87104288 -862.23880178  -85.22015527  222.63336375]]
Mean squared error: 835705.56
Variance score: 0.54

array([[2973.18815507],
       [3472.71889882],
       [2837.36677788],
       [3326.40511931],
       [2394.51053547],
       [2608.74754723],
       [ 834.1729408 ],
       [1257.47040403],
       [2060.6002409 ],
       [1975.1279761 ],
       [2979.76565354],
       [2175.79207558],
       [2416.73190927],
       [2324.76844971],
       [1459.86705332],
       [1036.56959009],
       [2171.79086801],
       [2036.30790406],
       [1825.15140225],
       [2322.1058551 ],
       [2798.83294067],
       [2317.852538  ],
       [1497.65280033],
       [1329.03134331],
       [ 743.94203105],
       [ 687.85916128],
       [1255.28804998],
       [1532.27173369],
       [2471.08222922],
       [1990.85815514],
       [2180.80283005],
       [1320.38288179],
       [1746.50874545],
       [3005.98823491],
       [1971.21307224],
       [ 835.99179432],
       [2462.43376771],
       [2887.71589028],
       [1901.47098648],
       [ 759.42010056],
       [2483.89770413],
       [2039.13630448],
       [2763.70978826],
       [2534.24681652],
       [2567.04689635],
       [ 809.76921295],
       [1163.23828671],
       [2045.12217139],
       [ 842.56929279],
       [1844.54437562],
       [2687.39020403],
       [ 248.91782273],
       [2191.27014509],
       [1052.0476596 ],
       [2713.36067587],
       [ 724.29694816],
       [1174.06910227],
       [2717.0234702 ],
       [1621.65890235],
       [2337.58392461],
       [ 597.62825153],
       [ 445.32860511],
       [2025.47708849],
       [ 458.14408001],
       [1879.16330898],
       [1150.67492134],
       [1755.15720696],
       [ 870.61072767],
       [1318.56402827],
       [2901.37510627],
       [1313.5532738 ],
       [2274.41933731]])

In [31]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Create linear regression object
regr = RandomForestRegressor(max_depth=2,random_state=0)
# Train the model using the training sets
regr.fit(X_train, y_train)
# Make predictions using the testing set
y_pred = regr.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

In [32]:
kaggle_pred = regr.predict(test_for_kaggle)
kaggle_pred

array([3337.8334772 ,  748.68829567, 1313.68432987, 3337.8334772 ,
        803.74503586, 1368.74107007, 3450.33437811,  748.68829567,
       1313.68432987, 3591.77152096,  803.74503586, 1368.74107007,
       3450.33437811,  803.74503586, 1368.74107007, 3450.33437811,
        803.74503586, 1368.74107007, 3450.33437811,  748.68829567,
       1313.68432987, 3450.33437811,  748.68829567, 1313.68432987,
       3450.33437811,  748.68829567, 1313.68432987, 3450.33437811,
        803.74503586, 1368.74107007, 3687.40722236,  748.68829567,
       1313.68432987, 3828.84436521,  803.74503586, 1368.74107007])